<h3>Estimado(a) <%= @solicitud.nombre %>,</h3>

<p>Gracias por tu confianza, buscaremos el libro que te interesa y cuando lo encontremos te contactaremos.</p>
<p>Saludos cordiales.<br><br><b>Llevo Libros</b><br>Deja que los libros te encuentren.</p>