<div class="col-md-2">
	<%= image_tag "article1.jpg", :alt=>"", :class=>"img-responsive", :align=>"left" %>
</div>
<div class="col-md-8">
	<h1><%= @title %></h1>
	<p class="text-justify">El objetivo de Llevo Libros es reducir la distancia entre tú y un libro para fomentar el gusto por la lectura.</p>
	<p class="text-justify">Puedes solicitar cualquier libro que desees a través de este sitio. También puedes encontrar en nuestro catálogo títulos de diversas áreas que pueden interesarte.</p>
	<p class="text-justify">En Llevo Libros creemos plenamente que la lectura fomenta el crecimiento personal y profesional, así como también ayuda a formar mejores seres humanos, siendo nuestra misión ayudar en este propósito.</p>
	<p class="text-justify">Si deseas leer contáctanos y deja que el libro que estás buscando te encuentre.</p>
</div>