<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acerca del autor</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>
          <% if @autor.foto %>
            <%= image_tag "autores/"+@autor.foto, :class=>"img-thumbnail" %>
          <% else %>
            <%= image_tag "autores/silueta.jpg", :class=>"img-thumbnail" %>
          <% end %>
        </td>
        <td>
          <h3><%= @autor.nombre %></h3>
          <p class="text-justify"><%= @autor.descripcion %></p>
        </td>
      </tr>
    </table> 	
  </div>
</div>