<div class="panel panel-custom">
  <div class="panel-heading">
    <h3 class="titgde panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">
	<div class="titext col-md-12">
		<p class="titext text-justify"><b>Llevo Libros</b> es un servicio librero especializado en localizar, comprar y entregar libros nuevos o usados a los lectores que así lo soliciten.</p>
		<p class="titext text-justify">Una de las prioridades de <b>Llevo Libros</b> es respetar la privacidad de sus usuarios y mantener segura la información y los datos personales que se recolectan en este sitio Web, por lo tanto <b>Llevo Libros</b> se compromete a no compartir dicha información con terceros.</p>
		<p class="titext text-justify">Es posible que recabemos información personal como su nombre, correo electrónico y teléfono a través de los formularios de las secciones <b>SOLICITA UN LIBRO</b> y <b>CONTACTO</b>. Esto con la única finalidad de contactarlo ante sus dudas y para la entrega de los libros que nos solicite.</p>
	</div>
  </div>
</div>