<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @categoria.descripcion %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @titulos.sort_by{|x| x.nombre}.each do |titulo| %>
        <% if (titulo.categoria == @categoria) && (titulo.publico) %>
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <%= link_to image_tag("portadas/"+titulo.imagen, :size=>"100x150"), home_titulo_path(:id => titulo.id) %>
              <div class="caption">
                <h5 class="media-heading">
                  <%= link_to titulo.nombre, home_titulo_path(:id => titulo.id) %>
                </h5>
                <h6 class="media-heading">
                  <%= link_to titulo.autor.nombre, home_autor_path(:id => titulo.autor.id) %>
                </h6>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>