<div class="col-md-5 col-md-offset-3">
	<div class="panel panel-primary">
    	<div class="panel-heading">
    		<h3 class="titgde panel-title"><%= @title %></h3>
    	</div>
    	<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td><%= image_tag "icono_email.png", :alt=>"", :class=>"img-responsive", :align=>"center" %></td>
						<td><a href="mailto:info@llevolibros.com" target="_blank" class="titmedia">info@llevolibros.com</a></td>
					</tr>
					<tr>
						<td><%= image_tag "icono_whatsapp.png", :alt=>"", :class=>"img-responsive", :align=>"center" %></td>
						<td class="titmedia">+52 (81) 1586 4242</td>
					</tr>
				</table>	
			</div>
  		</div>
	</div>
</div>