<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acerca de la editorial</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5 text-center">
        <% if @editor.logo %>
          <%= link_to image_tag("editores/"+@editor.logo), @editor.web, target: "_blank" %>
        <% end %>
      </div>
      <div class="col-md-7">
        <p class="text-justify"><%= @editor.descripcion %></p>
      </div>
    </div>
    <br>
    <% i = 1 %>


  </div>
</div>