<div class="col-md-2">
	<%= image_tag "article1.jpg", :alt=>"", :class=>"img-responsive", :align=>"left" %>
</div>
<div class="col-md-8">
	<h1><%= @titulo %></h1>
	<p class="text-justify">El objetivo de Llevo Libros es encontrar cualquier libro que necesites y llevarlo hasta ti, evitando que inviertas tiempo y esfuerzo en buscarlo y trasladarte a librerías o centros comerciales para adquirirlo. Queremos reducir la distancia entre tú y un libro, con el propósito de fomentar el gusto por la lectura.</p>
	<p class="text-justify">Puedes solicitar cualquier libro que desees a través de este sitio. También puedes encontrar en nuestro catálogo varios títulos de distintas áreas que pueden interesarte.</p>
	<p class="text-justify">En Llevo Libros creemos plenamente que la lectura fomenta el crecimiento personal y forma mejores seres humanos, siendo nuestra misión ayudar en este propósito.</p>
	<p class="text-justify">No busques libros, deja que ellos te encuentren.</p>
</div>