<div class="col-md-9 col-md-offset-1">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <p class="titgde panel-title">¿Qué libro estás buscando?</p>
    </div>
    <div class="panel-body">
    	<p id="notice"><%= notice %></p>
      	<%= render 'form' %>
    </div>
  </div>
</div>