<h3>Estimado(a) <%= @nombre %>,</h3>

<p>Gracias por enviarnos tus comentarios, en breve nos pondremos en contacto.</p>
<p>Saludos cordiales.<br><br><b>Llevo Libros</b><br>Deja que los libros te encuentren.</p>