/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  */

  @import "bootstrap";
 body {
 	/*padding-top: 20px;*/
 	position: relative;
 	background-image: image-url('bg2.png');

	a:link {
		text-decoration: none;
		color: #428BCA;
	}
	a:visited {
		text-decoration: none;
		color: #428BCA;
	}
	a:hover {
		color: #428BCA;
		background: none;
		text-decoration: underline
	}
	a:active {
		text-decoration: none;
		color: #428BCA;
	}
	a {
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 13px;
	}

	.titmedia {
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 15px;
		color: #FFFFFF;
	}

	.titgde {
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 16px;
		color: #FFFFFF;
	}

	.titprecio {
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 18px;
		font-weight: bold;
	}

	.titlibro {
		font-family: "Tahoma", "Geneva", sans-serif;
		text-transform: uppercase;
		line-height: 1;
	}

	.titautor {
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 12px;
		font-style: oblique;
		line-height: 1;
	}

	.titext {
		/*font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;*/
		font-family: "Tahoma", "Geneva", sans-serif;
		font-size: 13px;
	}

	.titnotas {
		font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
		font-size: 10px;
		font-style: oblique;
	}

	.morecontent span {
    	display: none;
	}
	.morelink {
    	display: block;
	}


	a.footer:link {
		color: #666666;
		text-decoration: none;
	}
	a.footer:visited {
		text-decoration: none;
		color: #666666;
	}
	a.footer:hover {
		text-decoration: underline;
		color: #666666;
		background: none;
	}
	a.footer:active {
		text-decoration: none;
		color: #666666;
	}
	a.footer {
		font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
		font-size: 12px;
	}

	.footer {
		position: relative;
		color: #666666;
		margin-top: 20px;
		padding-top: 2px;
		width: 100%;
		height: 25px;            
		background-color: #DADADA;
	}

	.center-img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}

	/*.navbar-custom {
    	color: #FFFFFF;
    	background-color: #CC3333;
	}*/

	.panel-custom {
		background-color: #FFFFFF;
	}

	.panel-heading {
		/*background-color: #CC3333;*/
		/*background-color: #B3130A;*/
		background-color: #E31937;
	}
 }